html{
	text-align: center;
}
div{
	text-align: center;
}
body {
	text-align: center;
}
p{
	text-align: center;
}
.information{
	text-align: center;
	float: center;
	margin-left: 100px;
	margin-right: 100px;
	
}
.Downloads{
	text-align: center;
	float: center;
	margin-left: 100px;
	margin-right: 100px;
	
}
